{% include  'admin/partials/main.html' %}
{% load static %}


<head>
    {% include 'admin/partials/title-meta.html' %}
    <!-- Css -->
    <link href="{% static 'admin/assets/libs/simplebar/simplebar.min.css' %}" rel="stylesheet">
    <link href="{% static 'admin/assets/css/add_product.css' %}" rel="stylesheet">
    {% include 'admin/partials/head-css.html' %}

</head>

{% include 'admin/partials/body.html' %}

<div class="page-wrapper toggled">
    {% include 'admin/partials/sidebar-dark.html' %}

    <!-- Start Page Content -->
    <main class="page-content bg-light">
        {% include 'admin/partials/top-header.html' %}

        <div class="container-fluid">
            <div class="layout-specing">
                <div class="d-md-flex justify-content-between align-items-center">
                    <h5 class="mb-0">Thêm danh mục mới</h5>

                    <nav aria-label="breadcrumb" class="d-inline-block mt-2 mt-sm-0">
                        <ul class="breadcrumb bg-transparent rounded mb-0 p-0">
                            <li class="breadcrumb-item text-capitalize"><a href="{% url 'admin_index' %}">The100</a>
                            </li>
                            <li class="breadcrumb-item text-capitalize active" aria-current="page">Thêm danh mục mới
                            </li>
                        </ul>
                    </nav>
                </div>

                <div class="row my-5">
                    <div class="col-12 col-md-8 card mx-auto bi-trash">
                        <div class="card-body">
                            <h5 class="card-title">Thông tin cơ bản</h5>
                            <div class="col-md-12">
                                <div class="mb-3">
                                    <label class="form-label">Hình ảnh sản phẩm <span
                                            class="text-danger">*</span></label>
                                    <div class="form-icon position-relative">
                                        <i data-feather="image" class="fea icon-sm icons"></i>
                                        <input name="images[]" id="images" type="file"
                                               class="form-control-file ps-5" multiple>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="mb-3">
                                    <label class="form-label">Tên sản phẩm <span
                                            class="text-danger">*</span></label>
                                    <div class="form-icon position-relative">
                                        <i data-feather="mail" class="fea icon-sm icons"></i>
                                        <input name="name" id="name" type="text" class="form-control ps-5"
                                               placeholder="Tên sản phẩm">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="mb-3">
                                    <label class="form-label">Ngành hàng</label>
                                    <select name="" id="">
                                        {% for item in list_categories %}
                                        <option value="{{item.id}}">{{ item.name }}</option>
                                    {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="mb-3">
                                    <label class="form-label">Mô tả sản phẩm</label>
                                    <div class="form-icon position-relative">
                                        <i data-feather="message-circle" class="fea icon-sm icons"></i>
                                        <textarea name="description" id="description" rows="4"
                                                  class="form-control ps-5"
                                                  placeholder="Mô tả sản phẩm"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row my-5" id="detail-info" style="display:none">
                    <div class="col-12 col-md-8 card mx-auto">
                        <div class="card-body">
                            <h5 class="card-title">Thông tin chi tiết</h5>
                            <div id="detail-info-content"></div>
                        </div>
                    </div>
                </div>
                <div class="row my-5 inactive" id="sales-info">
                    <div class="col-12 col-md-8 card mx-auto">
                        <div class="card-body">
                            <h5 class="card-title">Thông tin bán hàng</h5>
                            <!--                            <p id="sales-text" class="panel-inactive-content">Có thể điều chỉnh sau khi chọn ngành-->
                            <!--                                hàng </p>-->
                            <div class="row">
                                <div class="col-12 row my-2">

                                    <div class="container-views">
                                        <h5 class="title-page">Thông tin bán hàng</h5>
                                        <div class="classify">
                                            <div class="title">Phân loại hàng</div>
                                            <div id="list-classify" class="content">
                                                <div id="btn-add-classify" onclick="addClassify(this)">
                                                    <i class="bi bi-plus-lg"></i>
                                                    Thêm nhóm phân loại
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tbl-classify">
                                            <div class="title">Danh sách phân loại hàng</div>
                                            <div class="wrapper-table">
                                                <table class="table table-sm" id="my-tbl">
                                                    <thead></thead>
                                                    <tbody></tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="row my-5">
                    <div class="col-12 col-md-8 mx-auto">
                        <div class="col-sm-12">
                            <input type="submit" id="submit" name="send" class="btn btn-primary" value="Add">
                        </div>
                    </div>
                </div>
            </div>

            {% include 'admin/product/modal/select-cate.html' %}
        </div><!--end container-->

        {% include 'admin/partials/footer.html' %}
    </main>
    <!--End page-content" -->
</div>
<table>

</table>
<!-- page-wrapper -->

{% include 'admin/partials/offcanvas-right.html' %}

<!-- javascript -->
{% include 'admin/partials/vendor-scripts.html' %}
<script src="{% static 'admin/assets/libs/simplebar/simplebar.min.js' %}"></script>
<script src="{% static 'admin/assets/libs/jquery-ui/jquery-ui.min.js' %}"></script>
<script src="{% static 'admin/assets/js/plugins.init.js' %}"></script>
<script src="{% static 'admin/assets/js/app.js' %}"></script>
<script src="{% static 'admin/assets/js/add_product.js' %}"></script>
<script src='{% static "admin/assets/js/product.js"%}'></script>
<script src='{% static "admin/assets/js/data_binder.js"%}'></script>

<script type="text/javascript">
    var product = {
        image: {
            image_id_list: [],
        },
        video_upload_id: '',
        item_name: '',
        category_id: 0,
        description_type: '',
        description: '',
        description_info: {},
        brand: {
            brand_id: 0,
        },
        attribute_list: {
            attribute_id: 0,
            attribute_value_list: {
                value_id: 0,
                original_value_name: '',
                value_unit: '',
            }
        },
        original_price: 0,//float
        seller_stock: {
            location_id: '',
            stock: 0,
        },
        weight: 0,
        dimension: {
            package_height: 0,
            package_length: 0,
            package_width: 0,
        },
        wholesale: {}
    }
</script>


</body>
</html>