{% include  'admin/partials/main.html' %}
{% load static %}


<head>
    {% include 'admin/partials/title-meta.html' %}
    <!-- Css -->
    <link href="{% static 'admin/assets/libs/simplebar/simplebar.min.css' %}" rel="stylesheet">
    <link href="{% static 'admin/assets/css/add_product.css' %}" rel="stylesheet">
    {% include 'admin/partials/head-css.html' %}

</head>

{% include 'admin/partials/body.html' %}

<div class="page-wrapper toggled">
    {% include 'admin/partials/sidebar-dark.html' %}

    <!-- Start Page Content -->
    <main class="page-content bg-light">
        {% include 'admin/partials/top-header.html' %}

        <div class="container-fluid">
            <div class="layout-specing">
                <div class="d-md-flex justify-content-between align-items-center">
                    <h5 class="mb-0">Thêm danh mục mới</h5>

                    <nav aria-label="breadcrumb" class="d-inline-block mt-2 mt-sm-0">
                        <ul class="breadcrumb bg-transparent rounded mb-0 p-0">
                            <li class="breadcrumb-item text-capitalize"><a href="{% url 'admin_index' %}">The100</a>
                            </li>
                            <li class="breadcrumb-item text-capitalize active" aria-current="page">Thêm danh mục mới
                            </li>
                        </ul>
                    </nav>
                </div>

                <div class="row my-5">
                    <div class="col-12 col-md-8 card mx-auto">
                        <div class="card-body">
                            <h5 class="card-title">Thông tin cơ bản</h5>
                            <div class="col-md-12">
                                <div class="mb-3">
                                    <label class="form-label">Hình ảnh sản phẩm <span
                                            class="text-danger">*</span></label>
                                    <div class="form-icon position-relative">
                                        <i data-feather="image" class="fea icon-sm icons"></i>
                                        <input name="images[]" id="images" type="file"
                                               class="form-control-file ps-5" multiple>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="mb-3">
                                    <label class="form-label">Tên sản phẩm <span
                                            class="text-danger">*</span></label>
                                    <div class="form-icon position-relative">
                                        <i data-feather="mail" class="fea icon-sm icons"></i>
                                        <input name="name" id="name" type="text" class="form-control ps-5"
                                               placeholder="Tên sản phẩm">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="mb-3">
                                    <label class="form-label">Ngành hàng</label>
                                    <div class="form-icon position-relative">
                                        <i data-feather="book" class="fea icon-sm icons"></i>
                                        <input data-bs-toggle="modal" data-bs-target="#LoginForm" name="category"
                                               id="category"
                                               class="form-control ps-5"
                                               placeholder="Chọn ngành hàng" readonly>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="mb-3">
                                    <label class="form-label">Mô tả sản phẩm</label>
                                    <div class="form-icon position-relative">
                                        <i data-feather="message-circle" class="fea icon-sm icons"></i>
                                        <textarea name="description" id="description" rows="4"
                                                  class="form-control ps-5"
                                                  placeholder="Mô tả sản phẩm"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row my-5" id="detail-info" style="display:none">
                    <div class="col-12 col-md-8 card mx-auto">
                        <div class="card-body">
                            <h5 class="card-title">Thông tin chi tiết</h5>
                            <div id="detail-info-content"></div>
                        </div>
                    </div>
                </div>
                <div class="row my-5 inactive" id="sales-info">
                    <div class="col-12 col-md-8 card mx-auto">
                        <div class="card-body">
                            <h5 class="card-title">Thông tin bán hàng</h5>
                            <!--                            <p id="sales-text" class="panel-inactive-content">Có thể điều chỉnh sau khi chọn ngành-->
                            <!--                                hàng </p>-->
                            <div class="row">
                                <div class="col-12 row my-2">
                                    <div class="col-2">
                                        Phân loại hàng
                                    </div>
                                    <div class="col-10">
                                        <input type="text" class="hide" id="group-type">
                                        <div id="list-group-type">
                                        </div>

                                        <button class="btn btn-outline-info m-1" id="btn-add-group-type-1"
                                                onclick="addGroupType(1)">Thêm nhóm
                                            phân loại
                                        </button>
                                        <button class="btn btn-outline-info m-1" id="btn-add-group-type-2"
                                                style="display:none;" onclick="addGroupType(2)">Thêm nhóm
                                            phân loại 2
                                        </button>
                                    </div>
                                </div>
                                <div class="col-12 row my-2">
                                    <div class="col-2">
                                        Giá
                                    </div>
                                    <div class="col-10">
                                        <input class="form-control" type="number" step="1" min="0" placeholder="đồng">
                                    </div>
                                </div>
                                <div class="col-12 row my-2">
                                    <div class="col-2">
                                        Kho hàng
                                    </div>
                                    <div class="col-10">
                                        <input class="form-control" type="number"
                                               placeholder="Số lượng sản phẩm trong kho" step="1" min="0">
                                    </div>
                                </div>
                                <div class="col-12 row my-2">
                                    <div class="col-2">
                                        Mua nhiều giảm giá
                                    </div>
                                    <div class="col-10">
                                        <button class="btn btn-outline-info">Thêm khoảng giá</button>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="row my-5 inactive" id="delivery-info">
                    <div class="col-12 col-md-8 card mx-auto">
                        <div class="card-body">
                            <h5 class="card-title">Vận chuyển</h5>
                            <!--                            <p id="delivery-text" class="panel-inactive-content">Có thể điều chỉnh sau khi chọn ngành-->
                            <!--                                hàng </p>-->
                            <div class="row">
                                <div class="col-12 row my-2">
                                    <div class="col-2">
                                        Cân nặng (Sau khi đóng gói)
                                    </div>
                                    <div class="col-10">
                                        <input class="form-control" type="number" step="1" min="0" placeholder="VND">
                                    </div>
                                </div>
                                <div class="col-12 row my-2">
                                    <div class="col-2">
                                        Kích thước đóng gói (Phí vận chuyển thực tế sẽ thay đổi nếu bạn nhập sai kích
                                        thước)
                                    </div>
                                    <div class="col-10 row">
                                        <div class="col">
                                            <label for="package-height">Cao(cm)</label>
                                            <input class="form-control" type="number" name="package_height" step="1"
                                                   min="0"
                                                   placeholder="cm" id="package-height">
                                        </div>
                                        <div class="col">
                                            <label for="package-length">Dài(cm)</label>
                                            <input class="form-control" type="number" step="1" min="0"
                                                   placeholder="cm" id="package-length">
                                        </div>
                                        <div class="col">
                                            <label for="package-width">Rộng(cm)</label>
                                            <input class="form-control" type="number" step="1" min="0"
                                                   placeholder="cm" id="package-width">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 row my-2">
                                    <div class="col-2">
                                        Hàng nguy hiểm
                                    </div>
                                    <div class="col-10">
                                        <input type="radio" value="inactive" id="item-danger-false" checked="checked"
                                               name="item_dangerous">
                                        <label for="item-danger-false" class="me-3">Không</label>
                                        <input type="radio" value="active" id="item-danger-true" name="item_dangerous">
                                        <label for="item-danger-true">Yes</label>
                                    </div>
                                </div>
                                <div class="col-12 row my-2">
                                    <div class="col-2">
                                        Phí vận chuyển
                                    </div>
                                    <div class="col-10">
                                        <div class="card">
                                            <div class="card-header">
                                                Nhanh
                                            </div>
                                            <div class="card-body">
                                                <p class="card-text">Nhanh</p>
                                                <p id="deli-price">đ0</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row my-5 inactive" id="other-info">
                    <div class="col-12 col-md-8 card mx-auto">
                        <div class="card-body">
                            <h5 class="card-title">Thông tin khác</h5>
                            <div class="row">
                                <div class="col-12 row my-2">
                                    <div class="col-2">
                                        Đặt hàng trước
                                    </div>
                                    <div class="col-10">
                                        <div>
                                            <input type="radio" value="inactive" id="pre-order-false" checked="checked"
                                                   name="is_pre_order">
                                            <label for="pre-order-false" class="me-3">Không</label>
                                            <input type="radio" value="active" id="pre-order-true" name="is_pre_order">
                                            <label for="pre-order-true">Đồng ý</label>
                                        </div>
                                        <div>
                                            <div id="days-to-ship-disagree-text">Tôi sẽ gửi hàng trong 2 ngày (không bao
                                                gồm
                                                các ngày nghỉ lễ, Tết và những ngày đơn vị vận chuyển không làm việc)
                                            </div>
                                            <div id="days-to-ship-agree-text" style="display: none;">
                                                Tôi cần <label id="wrap-days-to-ship-input"><input
                                                    id="days-to-ship-input" class="form-control" type="number" min="0"
                                                    step="1" name="days_to_ship"></label> ngày chuẩn bị hàng. Bạn có thể
                                                chọn từ 5 đến 15 ngày. Shopee đề xuất chọn thời gian sớm nhất trong khả
                                                năng vận hành của bạn nhằm tăng tỉ lệ chuyển đổi!
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 row my-2">
                                    <div class="col-2">
                                        Giá
                                    </div>
                                    <div class="col-10">
                                        <input class="form-control" type="number" step="1" min="0" placeholder="VND">
                                    </div>
                                </div>
                                <div class="col-12 row my-2">
                                    <div class="col-2">
                                        Kho hàng
                                    </div>
                                    <div class="col-10">
                                        <input class="form-control" type="number"
                                               placeholder="Số lượng sản phẩm trong kho" step="1" min="0">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row my-5">
                    <div class="col-12 col-md-8 mx-auto">
                        <div class="col-sm-12">
                            <input type="submit" id="submit" name="send" class="btn btn-primary" value="Add">
                        </div>
                    </div>
                </div>
            </div>

            {% include 'admin/product/modal/select-cate.html' %}
        </div><!--end container-->

        {% include 'admin/partials/footer.html' %}
    </main>
    <!--End page-content" -->
</div>
<!-- page-wrapper -->

{% include 'admin/partials/offcanvas-right.html' %}

<!-- javascript -->
{% include 'admin/partials/vendor-scripts.html' %}
<script src="{% static 'admin/assets/libs/simplebar/simplebar.min.js' %}"></script>
<!-- Main Js -->
<script src="{% static 'admin/assets/js/plugins.init.js' %}"></script>
<script src="{% static 'admin/assets/js/app.js' %}"></script>
<script src="{% static 'admin/assets/js/add_product.js' %}"></script>
<script src='{% static "admin/assets/js/product.js"%}'></script>
<script src='{% static "admin/assets/js/data_binder.js"%}'></script>
<script type="text/javascript">

    var product = {
        image: {
            image_id_list:[],
        },
        video_upload_id: '',
        item_name: '',
        category_id: 0,
        description_type: '',
        description: '',
        description_info: {},
        brand: {
            brand_id: 0,
        },
        attribute_list:{
            attribute_id:0,
            attribute_value_list: {
                value_id: 0,
                original_value_name: '',
                value_unit: '',
            }
        },
        original_price: 0,//float
        seller_stock: {
            location_id: '',
            stock: 0,
        },
        weight: 0,
    }

        $(document).ready(function () {
            $('.count-char').each(function () {
                countInput($(this).attr('id'));
            });
        });
    $('input[type=radio][name=is_pre_order]').on('change', function () {
        switch ($(this).val()) {
            case 'inactive':
                $('#days-to-ship-disagree-text').show();
                $('#days-to-ship-agree-text').hide();
                break;
            case 'active':
                $('#days-to-ship-disagree-text').hide();
                $('#days-to-ship-agree-text').show();
                break;
        }
    });

    function countInput(inputId) {
        var input = $('#' + inputId);
        let lengthText = input.val().length;
        let spanId = input.data("span");
        $('#' + spanId).text(lengthText);
    }

    // khi nhập vào input thì update số lượng ký tự
    $('.count-char').keyup(function () {
        setTimeout(() => {
            countInput($(this).attr('id'));
        }, 5)
    });

    function addGroupType(groupOrder) {
        let newPanel = document.createElement('div');
        newPanel.classList = 'panel panel-default shadow p-2 my-2';
        newPanel.setAttribute('id', 'group-type' + groupOrder);
        newPanel.innerHTML = '                              <div class="panel-body d-flex align-self">\n' +
            '                                                    <div class="input-group m-3">\n' +
            '                                                        <label for="type-1" class="me-2">Nhóm phân loại ' + groupOrder + '</label>\n' +
            '                                                        <input type="text" class="form-control count-char"\n' +
            '                                                               data-span="gr-type-1-text"\n' +
            '                                                               aria-label="Amount (to the nearest dollar)" id="type-1"\n' +
            '                                                               type="text" maxlength="14" name="group-type">\n' +
            '                                                        <div class="input-group-append">\n' +
            '                                                            <span class="input-group-text"><span\n' +
            '                                                                    id="gr-type-1-text">0</span>/14</span>\n' +
            '                                                        </div>\n' +
            '                                                    </div>\n' +
            '                                                    <a class="m-3" data-toggle="collapse" href="#demo"\n' +
            '                                                       class="close">&times </a>\n' +
            '                                                </div>\n';

        $('#list-group-type').append(newPanel);
        $('#btn-add-group-type-' + groupOrder).hide();
        $('#btn-add-group-type-' + (groupOrder + 1)).show();
    }

    function removeGroupType(groupOrder) {

    }
</script>
</body>
</html>