{% load static %}
<link href='{% static "admin/assets/libs/simplebar/simplebar.min.css" %}'  rel="stylesheet" type="text/css">
<link href='{% static "admin/assets/css/bootstrap.min.css" %}' id="bootstrap-style" class="theme-opt" rel="stylesheet" type="text/css">
<link href='{% static "admin/assets/css/font/bootstrap-icons.min.css" %}' class="theme-opt" rel="stylesheet" type="text/css">
<link href='{% static "admin/assets/libs/@mdi/font/css/materialdesignicons.min.css" %}' rel="stylesheet" type="text/css">
<link href='{% static "admin/assets/libs/@iconscout/unicons/css/line.css" %}' type="text/css" rel="stylesheet">
<link href='{% static "admin/assets/css/style.min.css" %}' id="color-opt" class="theme-opt" rel="stylesheet" type="text/css">
