{% load static %}

<script src='{% static "admin/assets/js/jquery.min" %}'></script>
<script src='{% static "assets/libs/bootstrap/js/bootstrap.bundle.min" %}'></script>
<script src='{% static "admin/assets/libs/simplebar/simplebar.min.js" %}'></script>
<script src='{% static "admin/assets/libs/jquery-ui/jquery-ui.min.js" %}'></script>
<script src='{% static "admin/assets/js/plugins.init.js" %}'></script>
<script src='{% static "admin/assets/js/app.js" %}'></script>
<script src='{% static "admin/assets/js/add_product.js" %}'></script>
<script src='{% static "admin/assets/js/product" %}'></script>
<script src='{% static "admin/assets/js/data_binder" %}'></script>