{% load static %}
<!-- sidebar-wrapper -->
<nav id="sidebar" class="sidebar-wrapper sidebar-dark">
    <div class="sidebar-content" data-simplebar style="height: calc(100% - 60px);">
        <div class="sidebar-brand">
            <a href="{% url 'admin_index' %}">
                <img src="{% static 'admin/assets/images/logo-dark.png' %}" height="24" class="logo-light-mode" alt="">
                <img src="{% static 'assets/images/logo-light.png' %}" height="24" class="logo-dark-mode" alt="">
                <span class="sidebar-colored">
                    <img src="{% static 'assets/images/logo-light.png' %}" height="24" alt="">
                </span>
            </a>
        </div>
        
        <ul class="sidebar-menu">
            <li class="sidebar-dropdown">
                <a href="javascript:void(0)"><i class="ti ti-home me-2"></i>Thống kê</a>
                <div class="sidebar-submenu">
                    <ul>
                        <li><a href="index.html">Analytics</a></li>
                        <li><a href="index-crypto.html">Cryptocurrency <span class="badge text-bg-danger">New</span></a></li>
                    </ul>
                </div>
            </li>
            <li class="sidebar-dropdown">
                <a href="javascript:void(0)"><i class="ti ti-browser me-2"></i>Sản phẩm</a>
                <div class="sidebar-submenu">
                    <ul>
                        <li><a href="#">Danh sách sản phẩm</a></li>
                        <li><a href="{% url 'add_product' %}">Thêm sản phẩm</a></li>
                    </ul>
                </div>
            </li>
            <li class="sidebar-dropdown">
                <a href="javascript:void(0)"><i class="ti ti-apps me-2"></i>Danh mục sản phẩm</a>
                <div class="sidebar-submenu">
                    <ul>
                        <li><a href="{% url 'list_category' %}">Danh sách danh mục sản phẩm</a></li>
                        <li><a href="email.html">Thêm danh mục sản phẩm</a></li>
                    </ul>
                </div>
            </li>
            <li class="sidebar-dropdown">
                <a href="javascript:void(0)"><i class="ti ti-user me-2"></i>Nhà cung cấp</a>
                <div class="sidebar-submenu">
                    <ul>
                        <li><a href="profile.html">Danh mục nhà cung cấp</a></li>
                        <li><a href="profile-setting.html">Thêm nhà cung cấp</a></li>
                    </ul>
                </div>
            </li>
            <li class="sidebar-dropdown">
                <a href="javascript:void(0)"><i class="ti ti-brand-gravatar me-2"></i>Đơn hàng</a>
                <div class="sidebar-submenu">
                    <ul>
                        <li><a href="blog.html">Blogs</a></li>
                        <li><a href="blog-detail.html">Blog Detail</a></li>
                    </ul>
                </div>
            </li>
        </ul>
        <!-- sidebar-menu  -->
    </div>
    <!-- Sidebar Footer -->
    <ul class="sidebar-footer list-unstyled mb-0">
        <li class="list-inline-item mb-0">
            <a href="https://1.envato.market/landrick" target="_blank" class="btn btn-icon btn-soft-light"><i class="ti ti-shopping-cart"></i></a> <small class="text-muted fw-medium ms-1">Buy Now</small>
        </li>
    </ul>
    <!-- Sidebar Footer -->
</nav>
<!-- sidebar-wrapper  -->