<div class="modal fade" id="LoginForm" tabindex="-1" aria-labelledby="LoginForm-title" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content rounded shadow border-0">
            <div class="modal-header border-bottom">
                <h5 class="modal-title" id="LoginForm-title">Chỉnh sửa ngành hàng</h5>
                <button type="button" class="btn btn-icon btn-close" data-bs-dismiss="modal"
                        id="close-modal"><i class="uil uil-times fs-4 text-dark"></i></button>
            </div>
            <div class="modal-body">
                <div class="p-3 rounded box-shadow">
                    <div class="row">
                        <div class="col-md-3">
                            <ul class="list-unstyled scrollable-list">
                                {% for category in list_categories%}
                                <li>
                                                <span id="{{category.id}}"
                                                    data-can-click="{{category.has_children}}"
                                                      onclick="chooseCategory(this, {{category.id}}, 'children-1','{{category.display_category_name}}')">{{category.display_category_name}}</span>
                                    {% if category.has_children%}
                                    <span class="category-item-right" style="font-size: 20px;"> &rsaquo; </span>
                                    {% endif %}
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="col-md-3 children-1"></div>
                        <div class="col-md-3 children-2"></div>
                        <div class="col-md-3 children-3"></div>
                        <div class="col-md-3 children-4"></div>
                    </div>
                </div>
            </div>
            <div class="modal-footer d-flex align-items-center justify-content-between">
                <span id="chosenCategories"></span>
                <div class="d-flex align-items-center justify-content-center">
                    <button type="button" class="btn btn-secondary ms-2" data-dismiss="modal" onclick="quitModal()">
                        Close
                    </button>
                    <button type="button" class="btn btn-primary ms-2" id="btn-save-change" onclick="saveChoosenCategory()">Save changes
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>