{% load static %}
<meta charset="utf-8">
<title>{% block title %}{{ page_title }}{% endblock %}</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="{{description}}">
<meta name="keywords" content="{{ page_keywords }}">
<meta name="author" content="{{ page_author }}">
<meta name="email" content="{{ page_email }}">
<meta name="website" content="{{ page_website }}">
<meta name="Version" content="v4.7.0">

<!-- favicon -->
<link rel="shortcut icon" href='{% static "admin/assets/images/favicon.ico"%}'>