<!doctype html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <meta name="email" content="">
    <meta name="website" content="">
    <meta name="Version" content="v4.7.0">

    {% include 'admin/layout/partials/css.html' %}
</head>

<body>
<div class="page-wrapper toggled">
    {% include 'admin/layout/partials/sidebar-dark.html' %}

    <!-- Start Page Content -->
    <main class="page-content bg-light">

        <!-- Top Header -->
        <div class="top-header">
            <div class="header-bar d-flex justify-content-between">
                <div class="d-flex align-items-center">
                    <a href="#" class="logo-icon me-3">
                        <img src="assets/images/logo-icon.png" height="30" class="small" alt="">
                        <span class="big">
                    <img src="assets/images/logo-dark.png" height="24" class="logo-light-mode" alt="">
                    <img src="assets/images/logo-light.png" height="24" class="logo-dark-mode" alt="">
                </span>
                    </a>
                    <a id="close-sidebar" class="btn btn-icon btn-soft-light" href="javascript:void(0)">
                        <i class="ti ti-menu-2"></i>
                    </a>
                    <div class="search-bar p-0 d-none d-md-block ms-2">
                        <div id="search" class="menu-search mb-0">
                            <form role="search" method="get" id="searchform" class="searchform">
                                <div>
                                    <input type="text" class="form-control border rounded" name="s" id="s"
                                           placeholder="Search Keywords...">
                                    <input type="submit" id="searchsubmit" value="Search">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <ul class="list-unstyled mb-0">
                    <li class="list-inline-item mb-0">
                        <a href="javascript:void(0)" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight"
                           aria-controls="offcanvasRight">
                            <div class="btn btn-icon btn-soft-light"><i class="ti ti-settings"></i></div>
                        </a>
                    </li>

                    <li class="list-inline-item mb-0 ms-1">
                        <div class="dropdown dropdown-primary">
                            <button type="button" class="btn btn-icon btn-soft-light dropdown-toggle p-0"
                                    data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i
                                    class="ti ti-bell"></i></button>
                            <span class="position-absolute top-0 start-100 translate-middle p-1 bg-danger border border-light rounded-circle">
                        <span class="visually-hidden">New alerts</span>
                    </span>

                            <div class="dropdown-menu dd-menu shadow rounded border-0 mt-3 p-0" data-simplebar
                                 style="height: 320px; width: 290px;">
                                <div class="d-flex align-items-center justify-content-between p-3 border-bottom">
                                    <h6 class="mb-0 text-dark">Notifications</h6>
                                    <span class="badge bg-soft-danger rounded-pill">3</span>
                                </div>
                                <div class="p-3">
                                    <a href="#!" class="dropdown-item features feature-primary key-feature p-0">
                                        <div class="d-flex align-items-center">
                                            <div class="icon text-center rounded-circle me-2">
                                                <i class="ti ti-shopping-cart"></i>
                                            </div>
                                            <div class="flex-1">
                                                <h6 class="mb-0 text-dark title">Order Complete</h6>
                                                <small class="text-muted">15 min ago</small>
                                            </div>
                                        </div>
                                    </a>

                                    <a href="#!" class="dropdown-item features feature-primary key-feature p-0 mt-3">
                                        <div class="d-flex align-items-center">
                                            <img src="assets/images/client/04.jpg"
                                                 class="avatar avatar-md-sm rounded-circle border shadow me-2" alt="">
                                            <div class="flex-1">
                                                <h6 class="mb-0 text-dark title"><span class="fw-bold">Message</span>
                                                    from Luis</h6>
                                                <small class="text-muted">1 hour ago</small>
                                            </div>
                                        </div>
                                    </a>

                                    <a href="#!" class="dropdown-item features feature-primary key-feature p-0 mt-3">
                                        <div class="d-flex align-items-center">
                                            <div class="icon text-center rounded-circle me-2">
                                                <i class="ti ti-currency-dollar"></i>
                                            </div>
                                            <div class="flex-1">
                                                <h6 class="mb-0 text-dark title"><span class="fw-bold">One Refund Request</span>
                                                </h6>
                                                <small class="text-muted">2 hour ago</small>
                                            </div>
                                        </div>
                                    </a>

                                    <a href="#!" class="dropdown-item features feature-primary key-feature p-0 mt-3">
                                        <div class="d-flex align-items-center">
                                            <div class="icon text-center rounded-circle me-2">
                                                <i class="ti ti-truck-delivery"></i>
                                            </div>
                                            <div class="flex-1">
                                                <h6 class="mb-0 text-dark title">Deliverd your Order</h6>
                                                <small class="text-muted">Yesterday</small>
                                            </div>
                                        </div>
                                    </a>

                                    <a href="#!" class="dropdown-item features feature-primary key-feature p-0 mt-3">
                                        <div class="d-flex align-items-center">
                                            <img src="assets/images/client/15.jpg"
                                                 class="avatar avatar-md-sm rounded-circle border shadow me-2" alt="">
                                            <div class="flex-1">
                                                <h6 class="mb-0 text-dark title"><span class="fw-bold">Cally</span>
                                                    started following you</h6>
                                                <small class="text-muted">2 days ago</small>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </li>

                    <li class="list-inline-item mb-0 ms-1">
                        <div class="dropdown dropdown-primary">
                            <button type="button" class="btn btn-soft-light dropdown-toggle p-0"
                                    data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img
                                    src="assets/images/client/05.jpg" class="avatar avatar-ex-small rounded" alt="">
                            </button>
                            <div class="dropdown-menu dd-menu dropdown-menu-end shadow border-0 mt-3 py-3"
                                 style="min-width: 200px;">
                                <a class="dropdown-item d-flex align-items-center text-dark pb-3" href="profile.html">
                                    <img src="assets/images/client/05.jpg"
                                         class="avatar avatar-md-sm rounded-circle border shadow" alt="">
                                    <div class="flex-1 ms-2">
                                        <span class="d-block">Cristina Julia</span>
                                        <small class="text-muted">UI / UX Designer</small>
                                    </div>
                                </a>
                                <a class="dropdown-item text-dark" href="index.html"><span
                                        class="mb-0 d-inline-block me-1"><i class="ti ti-home"></i></span> Dashboard</a>
                                <a class="dropdown-item text-dark" href="profile.html"><span
                                        class="mb-0 d-inline-block me-1"><i class="ti ti-settings"></i></span>
                                    Profile</a>
                                <a class="dropdown-item text-dark" href="email.html"><span
                                        class="mb-0 d-inline-block me-1"><i class="ti ti-mail"></i></span> Email</a>
                                <div class="dropdown-divider border-top"></div>
                                <a class="dropdown-item text-dark" href="lock-screen.html"><span
                                        class="mb-0 d-inline-block me-1"><i class="ti ti-lock"></i></span>
                                    Lockscreen</a>
                                <a class="dropdown-item text-dark" href="login.html"><span
                                        class="mb-0 d-inline-block me-1"><i class="ti ti-logout"></i></span> Logout</a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <!-- Top Header -->

        <div class="container-fluid">
            {% block content %}
            {% endblock %}
        </div>
        <footer class="shadow py-3">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col">
                        <div class="text-sm-start text-center mx-md-2">
                            <p class="mb-0 text-muted">©
                                <script>document.write(new Date().getFullYear())</script>
                                Landrick. Design with <i class="mdi mdi-heart text-danger"></i> by <a
                                        href="https://shreethemes.in/" target="_blank"
                                        class="text-reset">Shreethemes</a>.
                            </p>
                        </div>
                    </div><!--end col-->
                </div><!--end row-->
            </div><!--end container-->
        </footer>
    </main>
</div>


<!-- Offcanvas Start -->
<div class="offcanvas offcanvas-end shadow border-0" tabindex="-1" id="offcanvasRight"
     aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header p-4 border-bottom">
        <h5 id="offcanvasRightLabel" class="mb-0">
            <img src='/static/admin/assets/images/logo-dark.png' height="24" class="light-version" alt="">
            <img src='/static/admin/assets/images/logo-light.png' height="24" class="dark-version" alt="">
        </h5>
        <button type="button" class="btn-close d-flex align-items-center text-dark" data-bs-dismiss="offcanvas"
                aria-label="Close"><i class="uil uil-times fs-4"></i></button>
    </div>
    <div class="offcanvas-body p-4">
        <div class="row">
            <div class="col-12">
                <img src='/static/admin/assets/images/contact.svg' class="img-fluid d-block mx-auto" alt="">
                <div class="card border-0 mt-4" style="z-index: 1">
                    <div class="card-body p-0">
                        <h4 class="card-title text-center">Login</h4>
                        <form method="post" action="" class="login-form mt-4">
                            <input type="hidden" name="csrfmiddlewaretoken"
                                   value="I2vWDYRnQohvFMfHjna8qlXoq7mECobDKr7OLxM8mcPK0XUXZwzKIobPhmbwuxCx">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="mb-3">
                                        <label class="form-label">Your Email <span class="text-danger">*</span></label>
                                        <div class="form-icon position-relative">
                                            <i data-feather="user" class="fea icon-sm icons"></i>
                                            <input type="email" class="form-control ps-5" placeholder="Email"
                                                   name="email" required="true">
                                        </div>
                                    </div>
                                </div><!--end col-->

                                <div class="col-lg-12">
                                    <div class="mb-3">
                                        <label class="form-label">Password <span class="text-danger">*</span></label>
                                        <div class="form-icon position-relative">
                                            <i data-feather="key" class="fea icon-sm icons"></i>
                                            <input type="password" class="form-control ps-5" placeholder="Password"
                                                   required="true">
                                        </div>
                                    </div>
                                </div><!--end col-->

                                <div class="col-lg-12">
                                    <div class="d-flex justify-content-between">
                                        <div class="mb-3">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value=""
                                                       id="flexCheckDefault">
                                                <label class="form-check-label" for="flexCheckDefault">Remember
                                                    me</label>
                                            </div>
                                        </div>
                                        <p class="forgot-pass mb-0"><a href="auth-cover-re-password.html"
                                                                       class="text-dark fw-bold">Forgot password ?</a>
                                        </p>
                                    </div>
                                </div><!--end col-->

                                <div class="col-lg-12 mb-0">
                                    <div class="d-grid">
                                        <button class="btn btn-primary">Sign in</button>
                                    </div>
                                </div><!--end col-->

                                <div class="col-12 text-center">
                                    <p class="mb-0 mt-3"><small class="text-dark me-2">Don't have an account ?</small>
                                        <a href="auth-cover-signup.html" class="text-dark fw-bold">Sign Up</a></p>
                                </div><!--end col-->
                            </div><!--end row-->
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="offcanvas-footer p-4 border-top text-center">
        <ul class="list-unstyled social-icon social mb-0">
            <li class="list-inline-item mb-0"><a href="https://1.envato.market/landrick" target="_blank"
                                                 class="rounded"><i class="uil uil-shopping-cart align-middle"
                                                                    title="Buy Now"></i></a></li>
            <li class="list-inline-item mb-0"><a href="https://dribbble.com/shreethemes" target="_blank"
                                                 class="rounded"><i class="uil uil-dribbble align-middle"
                                                                    title="dribbble"></i></a></li>
            <li class="list-inline-item mb-0"><a href="https://www.behance.net/shreethemes" target="_blank"
                                                 class="rounded"><i class="uil uil-behance align-middle"
                                                                    title="behance"></i></a></li>
            <li class="list-inline-item mb-0"><a href="https://www.facebook.com/shreethemes" target="_blank"
                                                 class="rounded"><i class="uil uil-facebook-f align-middle"
                                                                    title="facebook"></i></a></li>
            <li class="list-inline-item mb-0"><a href="https://www.instagram.com/shreethemes/" target="_blank"
                                                 class="rounded"><i class="uil uil-instagram align-middle"
                                                                    title="instagram"></i></a></li>
            <li class="list-inline-item mb-0"><a href="https://twitter.com/shreethemes" target="_blank" class="rounded"><i
                    class="uil uil-twitter align-middle" title="twitter"></i></a></li>
            <li class="list-inline-item mb-0"><a href="mailto:support@shreethemes.in" class="rounded"><i
                    class="uil uil-envelope align-middle" title="email"></i></a></li>
            <li class="list-inline-item mb-0"><a href="https://shreethemes.in" target="_blank" class="rounded"><i
                    class="uil uil-globe align-middle" title="website"></i></a></li>
        </ul><!--end icon-->
    </div>
</div>
<!-- Offcanvas End -->

    {% include 'admin/layout/partials/js.html' %}
</body>
</html>